<img src="../NiceStart.jpeg" width=400 height=400 align="center"/>

# Python Crash

In [1]:
#输出多个output
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity='all'
#Open hinterland
%config Completer.use_jedi = False

## Data Type
### Numbers

In [2]:
2 ** 4

16

In [26]:
4 % 2

0

In [24]:
5 % 2

1

In [34]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

Name of the variables can not start with number or sepcial characters

In [36]:
x = 2
y = 3

In [37]:
z = x + y
z

5

### Strings

In [38]:
'single quote'

'single quote'

In [39]:
"double quote"

'double quote'

In [40]:
"He said 'Love you'"

"He said 'Love you'"

In [41]:
'He said "Love you"'

'He said "Love you"'

In [62]:
s = "abcdefghijk"

In [67]:
s[:]
s[::-1]

'abcdefghijk'

'kjihgfedcba'

### Printing

In [43]:
x = "hello"
x

'hello'

In [44]:
print(x)

hello

In [53]:
"My number is {one}, and my name is {two} ".format(one=110,two="Haoxi")

'My number is 110, and my name is Haoxi '

In [54]:
print("My number is {one}, and my name is {two} ".format(one=110, two="Haoxi"))

My number is 110, and my name is Haoxi

In [55]:
print("My number is {}, and my name is {} ".format(110, "Haoxi"))

My number is 110, and my name is Haoxi

### Lists

In [104]:
list()

[]

In [74]:
[1,2,"a",[1,2],(1,3)]

[1, 2, 'a', [1, 2], (1, 3)]

In [80]:
my_list = ["a","b","c"]

In [81]:
my_list.append("d")
my_list

['a', 'b', 'c', 'd']

In [85]:
my_list[::2]

['a', 'c']

In [88]:
nest = [1,2,3,[4,5,["Target"]]]

In [91]:
nest[3][2][0]

'Target'

### Dictionaries

In [93]:
d = {"key1":"item1","key2":"item2"}
d

{'key1': 'item1', 'key2': 'item2'}

In [94]:
d["key1"]

'item1'

In [101]:
my_dic = dict(key1={"innerkey":[1,2,3]},key2="nice")
my_dic

{'key1': {'innerkey': [1, 2, 3]}, 'key2': 'nice'}

In [103]:
my_dic["key1"]["innerkey"]

[1, 2, 3]

### Booleans

In [105]:
True

True

False

In [106]:
False

False

### Tuples

Immutable list

In [113]:
t = (1,2,3)
type(t)

tuple

In [111]:
t[0]

1

In [112]:
t[0] = "New"

TypeError: 'tuple' object does not support item assignment

### Sets

A collection of unique elements

In [119]:
{1,2,3}
type({1,2,3})

{1, 2, 3}

set

In [125]:
{1,3,3,3,4,2,3,2,1,4,3,2,2,3}

{1, 2, 3, 4}

In [126]:
set([1,1,1,1,1,3,4,2,4,3,2])

{1, 2, 3, 4}

In [137]:
my_set = {1,2,3}

In [138]:
my_set.add(4)
my_set

{1, 2, 3, 4}

## Comparison Operators

In [140]:
1 == 1

True

In [141]:
1 == 1.0

True

In [144]:
1 != 1.0

False

## Logic Operators

In [151]:
(1 < 2) and (2 > 3)

False

In [152]:
(1 < 2) or (2 > 3)

True

In [155]:
not (1 < 2)

False

## If Statements

In [161]:
x = 7

In [162]:
if x > 0:
    print("Larger than 0")
elif x < 0:
    print("Less than 0")
else:
    print("Equal to 0")

Larger than 0

## For Loops

In [173]:
seq = [1,2,3,4,5]

In [180]:
for i in seq:
    if i == 3:
        continue
    print(i)

1
2
4
5

## While Loops

In [186]:
i = 1
while i < 5:
    if i == 3:
        break
    print("i is {}".format(i))
    i = i + 1

i is 1
i is 2

## range()

In [188]:
range(0,5)
range(5)

range(0, 5)

range(0, 5)

In [189]:
list(range(5))

[0, 1, 2, 3, 4]

In [190]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

## List Comprehension

In [191]:
x = [1,2,3,4]

In [192]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [195]:
[item**2 for item in x]

[1, 4, 9, 16]

## Functions

In [212]:
def my_func(param1="default param"):
    print(param1)

In [213]:
my_func

In [214]:
my_func()

default param

In [215]:
my_func("new param")

new param

In [216]:
my_func(param1='new param')

new param

In [222]:
def square(x):
    """
    This is a square function
    You can use it!
    """
    return x**2

In [223]:
square(4) #Try Shift+Tab on this funcion, the comment you wrote will show.

16

## Lambda Expressions

* A lambda function is a small anonymous function.
* A lambda function can take any number of arguments, but can only have one expression.

In [225]:
lambda x: x**2

In [248]:
my_lamb = lambda a: a + 10

In [249]:
my_lamb(5)

15

In [1]:
even = lambda num: num%2 == 0

In [2]:
even(5)

False

In [250]:
my_lamb2 = lambda a, b: a * b
print(my_lamb2(5, 6))

30

The power of lambda is better shown when you use them as an anonymous function inside another function:

In [245]:
def myfunc(n):
    return lambda a: a * n

In [246]:
mydoubler = myfunc(2)
print(mydoubler(11))

22

In [247]:
mytripler = myfunc(3)
print(mytripler(11))

33

## map() and filter()

In [265]:
seq = [1,2,3,4,5]

In [266]:
def Double(x):
    return x*2

In [267]:
map(Double,seq)

In [268]:
list(map(Double,seq))

[2, 4, 6, 8, 10]

In [269]:
list(map(lambda a: a*2, seq))

[2, 4, 6, 8, 10]

---

In [270]:
def d2(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [271]:
list(filter(d2,seq))

[2, 4]

In [272]:
filter(lambda a: a % 2 == 0,seq)

In [273]:
list(filter(lambda a: a % 2 == 0,seq))

[2, 4]

## Methods

* Objects can also contain methods 
* Methods in objects are functions that belong to the object
* Unlike a function, methods are called on an object

In [276]:
st = "Hello! my name is Haoxi"

In [277]:
st.lower()

'hello! my name is haoxi'

In [278]:
st.upper()

'HELLO! MY NAME IS HAOXI'

In [283]:
st.split()

['Hello!', 'my', 'name', 'is', 'Haoxi']

In [284]:
st.split(sep="!")

['Hello', ' my name is Haoxi']

In [285]:
st.split(sep="!")[1]

' my name is Haoxi'

In [288]:
d = {'key1': 'item1', 'key2': 'item2'}
d

{'key1': 'item1', 'key2': 'item2'}

In [295]:
d.keys()
list(d.keys())

dict_keys(['key1', 'key2'])

['key1', 'key2']

In [301]:
d.items()
list(d.items())

dict_items([('key1', 'item1'), ('key2', 'item2')])

[('key1', 'item1'), ('key2', 'item2')]

In [323]:
lst = [1,2,3]

In [324]:
lst.append("New")
lst

[1, 2, 3, 'New']

In [325]:
lst.pop(1)

2

In [326]:
lst

[1, 3, 'New']

In [327]:
1 in [1,2,3]

True

In [330]:
"1" in [1,2,3]

False

In [322]:
"x" in ["x","y","z"]

True

In [331]:
x = [(1,2),(3,4),(5,6)]

In [335]:
for (a,b) in x:
    sum_i = a + b
    print("First value of tuple is {}, second value of tuple is {}, and the sum is {}".format(a,b,sum_i))

First value of tuple is 1, second value of tuple is 2, and the sum is 3
First value of tuple is 3, second value of tuple is 4, and the sum is 7
First value of tuple is 5, second value of tuple is 6, and the sum is 11

## Magic Tricks

**Create a txt file:**

In [6]:
%%writefile example.txt
first line
second line
third line
fourth line

Writing example.txt

**Unpack values:**

In [3]:
def func(First_Middle_Last):
    (First, Middle, Last) = First_Middle_Last
    return First

In [4]:
func(["Haoxi", "Great", "Ma"])

'Haoxi'